<html>
    <body style="background-color: rgb(221, 221, 221);">
        <div style="display: flex;justify-content: center;margin-top: 10vh;">
            <table border="3", cellspacing="5" width='700vw'style='background-color: yellowgreen'>
                <tr><th><h1>{{title}}</h1></th></tr>             
                <tr><td style="text-align: center;"><h3>POST <a href="/message/add">MESSAGE</a></h3></td></tr>                
                <tr><td style="padding-left: 20px;">
                    <p>URL = /message/add</p>
                    <p>Params = {'idUser': <strong>#integer</strong> ,</p>
                    <p>'userName': 'John Wick', <strong>#String</strong></p>
                    <p>'idChat': 0, <strong>#integer</strong></p>
                    <p>'text': 'Hey Mike, whats up??'}<p></td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <h3>POST <a href="/user/create">USER</a></h3>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 20px;">
                        <p>URL = /user/create</p>
                        <p>Params = {'userName':'Toni stark'} #The name is optional </p>
                    </td>
                </tr>             
                <tr>
                    <td style="text-align: center;">
                        <h3>POST <a href="/chat/create">CHAT</a></h3>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 20px;">
                        <p>URL = /chat/create</p>
                        <p>params = {'name': 'Jon Snow-khaleesi'} #The name is optional</p>
                    </td>
                </tr>
                <tr>
                        <td style="text-align: center;">
                            <h3>GET CHAT</h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 20px;">
                            <p>URL =/chat/<chat_id>/list</p>
                            <p>chat_id => <strong>#integer</strong> </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <h3>GET USERS</h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 20px;">
                            <p>URL =/users</p>
                            <p>Returns all users</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <h3>GET CHAT SENTIMENT</h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 20px;">
                            <p>URL =/chat/<chat_id>/sentiment</p>
                            <p>Return the chat with the polarity and subjectivity of the chat.</p>
                        </td>
                    </tr>
                    <tr>
                            <td style="text-align: center;">
                                <h3>GET USER RECOMENDATIONS</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px;">
                                <p>URL = /user/<name>/recommend</p>
                                <p>Returns the three recommendations.</p>
                            </td>
                        </tr>
                    
            </table>
        </div>
    </body>
</html>


/user/<name>/recommend