<html>
    <body style="background-color: rgb(221, 221, 221);text-align: center;;margin-top: 10vh;">
        <form method="post" action="/message/add">
            <h2>Insert a UserID</h2> 
            <input name="idUser" type="text" />
            <h2>Inser a User Name</h2> 
            <input name="userName" type="text" />
            <h2>Insert a ChatID</h2>
            <input name="idChat" type="text" />
            <h2>Insert a Message</h2>
            <input name="text" type="text" />
            <p></h2><input type="submit" />
        </form>
</body>   
</html>